<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student List</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}"
</head>
<body>
     <h2>Student Data</h2>
     <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
        </tr>
        {% for row in data%}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
     </table> 
     <div>
     <a href="/delete_all">
    <button class="delete-btn">Delete All</button>
     </div>
     
</a>
</body>
</html>